version 5.226.0
storage: none
source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget Microsoft.AspNetCore.Authentication.Cookies ~> 2.2
nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 2.2
nuget Microsoft.AspNetCore.Mvc ~> 2.2
nuget Microsoft.IdentityModel.Tokens
group Test
    storage: none
    source https://api.nuget.org/v3/index.json
    framework: auto-detect
    nuget xunit
    nuget xunit.runner.visualstudio
    nuget FluentAssertions
    nuget Microsoft.AspNetCore.Mvc.Testing
// [ FAKE GROUP ]
group Build
    storage: none
    framework: auto-detect
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/zeekoget/api/v3/index.json
    nuget Fake.DotNet.Cli
    nuget MyFakeTools ~> 0.0.16
