version 5.206.0
storage: none
source https://api.nuget.org/v3/index.json
framework: netstandard2.0, netcoreapp2.2

nuget Microsoft.AspNetCore.Authentication.Cookies ~> 2.2
nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 2.2
nuget Microsoft.AspNetCore.Mvc ~> 2.2
nuget Microsoft.EntityFrameworkCore ~> 2.2
nuget Microsoft.EntityFrameworkCore.Relational ~> 2.2
nuget Microsoft.IdentityModel.Tokens ~> 5.4
nuget SqlKata ~> 1.1
group Test
    storage: none
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0, netcoreapp2.2
    nuget xunit
    nuget xunit.runner.visualstudio
    nuget FluentAssertions
    nuget Microsoft.AspNetCore.Mvc.Testing
    nuget Microsoft.Extensions.PlatformAbstractions
    nuget Microsoft.EntityFrameworkCore.Sqlite
    nuget Microsoft.AspNetCore.CookiePolicy
    nuget Dapper
    nuget Microsoft.AspNetCore
// [ FAKE GROUP ]
group Build
    storage: none
    framework: netstandard2.0
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/zeekoget/api/v3/index.json
    nuget Fake.DotNet.Cli
    nuget MyFakeTools ~> 0.0.14